.gap {
   gap: 10px;
}

.gap-large {
   gap: 20px;
}

.letter-spaced {
   letter-spacing: 0.25rem !important;
}

.pointer, .cursor-pointer {
   cursor: pointer !important;
}

.bottom-border {
   border-bottom: 0.1px solid rgb(var(--v-theme-on-surface), 0.1);
}

.md-container {
   width: 1300px;
}